<div class="container-fluid">

    <h2 class="sub-header">Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td ng-show="vm.can('view_content')">{{user.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
